{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Restoran - Bootstrap Restaurant Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- {% load static %} -->
    <!-- Favicon-->
    <link href="{% static 'img/favicon.ico' %}" rel="icon"> 

    <!-- Google Web Fonts -->
     <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
   <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap' %}" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css' %}" rel="stylesheet">
     <link href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css' %}" rel="stylesheet">

    <!-- Libraries Stylesheet -->
     <link href="{% static 'animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/owl.carousel.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <!-- <link href="{% static 'css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>

    <!-- Template Stylesheet -->
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="{% static 'sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ' %}" crossorigin="anonymous">

</head>

<body>
    <!-- <div class="container-xxl bg-white p-0"> -->
        <!-- Spinner Start -->
        <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> -->
        <!-- Spinner End -->


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Restoran</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0 pe-4">
                        <a href="http://localhost:8000/foodforall/index/" class="nav-item nav-link active">Home</a>
                        <a href="http://localhost:8000/foodforall/about/" class="nav-item nav-link">About</a>
                        <a href="http://localhost:8000/foodforall/orders/" class="nav-item nav-link">Service</a>
                        <a href="http://localhost:8000/foodforall/menu/" class="nav-item nav-link">Menu</a>
                        <a href="http://localhost:8000/foodforall/review/" class="nav-item nav-link">Testimonials</a>
                        <a href="http://localhost:8000/foodforall/contact/" class="nav-item nav-link">Contact</a>
                    </div>
                    <a href="http://localhost:8000/foodforall/booking/" class="btn btn-primary py-2 px-4">Book A Table</a>
                </div>
            </nav>


            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container text-center my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="row g-3">
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="{% static 'img/about-1.jpg' %}">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="{% static 'img/about-2.jpg' %}" style="margin-top: 25%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="{% static 'img/about-3.jpg' %}">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="{% static 'img/about-4.jpg' %}">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
                        <h1 class="mb-4">Welcome to <i class="fa fa-utensils text-primary me-2"></i>Restoran</h1>
                        <p class="mb-4">We offer you the best tastes from all around the world with warmth of service rarely experienced which is perfect to rejoice with family.</p>
                        <p class="mb-4">Celebrate your everything with our exquisite and creative cuisines and highly professionaland and cooperative staff.</p>
                        <div class="row g-4 mb-4">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">15</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Years of</p>
                                        <h6 class="text-uppercase mb-0">Experience</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">50</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Popular</p>
                                        <h6 class="text-uppercase mb-0">Master Chefs</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


    <div>
    <H1 style="margin-left: 13em;">OUR MASTER CHEFS</H1>
    <div style=" display: flex; " id="Slider">
       
         {% for people in abt %}
        
            <img style="height: 15em; width: 15em; margin-left:     1em; " src="../../{{people.image}}">
        <span style="color: black;font-weight: bolder; position: relative; top: 16em; right: 13em;">{{people.first_name}} {{people.last_name}}</span>  
        <!-- <h6>{{people.designation}}</h6> -->
   


        {% endfor %}
    </div>


        <br>

        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <div class="row g-5">
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Company</h4>
                        <a class="btn btn-link" href="http://localhost:8000/foodforall/about/">About Us</a>
                        <a class="btn btn-link" href="http://localhost:8000/foodforall/contact/">Contact Us</a>
                        <a class="btn btn-link" href="http://localhost:8000/foodforall/booking/">Reservation</a>
                        <a class="btn btn-link" href="">Privacy Policy</a>
                        <a class="btn btn-link" href="">Terms & Condition</a>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>customercarerestoran@.com</p>
                        <div class="d-flex pt-2">
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Opening</h4>
                        <h5 class="text-light fw-normal">Monday - Saturday</h5>
                        <p>09AM - 09PM</p>
                        <h5 class="text-light fw-normal">Sunday</h5>
                        <p>10AM - 08PM</p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Newsletter</h4>
                        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                        <div class="position-relative mx-auto" style="max-width: 400px;">
                            <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                            <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    {% load static %}
    <!-- JavaScript Libraries -->
    <script src="{% static 'https://code.jquery.com/jquery-3.4.1.min.js'%}"></script>
    <script src="{% static 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'lib/wow/wow.min.js'%}"></script>
    <script src="{% static 'lib/easing/easing.min.js'%}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js'%}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js'%}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js'%}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js'%}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'main.js'%}"></script>
    <!-- <script>
        HTMLElement.prototype.InitSlider = function (options = null) {
  var sliderIndex = 2;
  this.style.height = "250px";
  var model = [
    { zIndex: 0, left: "30%" },
    { zIndex: 1, left: "40%" },
    { zIndex: 2, left: "50%" },
    { zIndex: 1, left: "60%" },
    { zIndex: 0, left: "70%" }
  ];
  const setPosition = (tempModel, img, index) => {
    img.style.zIndex = tempModel[index].zIndex;
    img.style.transform = `translateX(-50%) scale(${
      0.6 + tempModel[index].zIndex * 0.2
    })`;
    img.style.left = tempModel[index].left;
    tempModel[index].zIndex != 2
      ? (img.style.filter = options?.filter ?? "blur(1px)")
      : (img.style.filter = null);
  };
  const gotoNext = () => {
    if (++sliderIndex == 10) sliderIndex = 0;
    this.children[sliderIndex].click();
  };
  const gotoBack = () => {
    if (--sliderIndex == -1) sliderIndex = 4;
    this.children[sliderIndex].click();
  };

  var count = this.childElementCount;
  for (let index = 0; index < count; index++) {
    var image = this.children[index];
    setPosition(model, image, index);
    // image.style.width = "300px";
    // image.style.border = "1px solid gray";
    image.style.padding = "4px";
    image.style.borderRadius = "6px";
    image.style.position = "absolute";
    image.style.transition = "1s";
    image.onclick = function () {
      sliderIndex = index;
      const arrNew = [...model];
      var shifts = index + 3;
      if (shifts > 4) shifts -= 5;

      for (let i = 0; i < shifts; i++) arrNew.unshift(arrNew.pop());

      for (let findex = 0; findex < count; findex++)
        setPosition(arrNew, this.parentNode.children[findex], findex);
    };
  }
  setInterval(() => {
    if (options?.timerEnable ?? true)
      options?.slider?.toLowerCase()?.trim() == "gotoback"
        ? gotoBack()
        : gotoNext();
  }, options?.timerInterval ?? 5000);
};

document.getElementById("Slider").InitSlider({
  timerInterval: 3000,
  timerEnable: true,
  filter: "grayscale(1)",
  slider: "gotoBack"
});

    </script> -->
</body>

</html>