{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Restoran - Bootstrap Restaurant Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- {% load static %} -->
    <!-- Favicon-->
    <link href="{% static 'img/favicon.ico' %}" rel="icon"> 

    <!-- Google Web Fonts -->
     <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
   <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap' %}" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css' %}" rel="stylesheet">
     <link href="{% static 'https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css' %}" rel="stylesheet">

    <!-- Libraries Stylesheet -->
     <link href="{% static 'animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/owl.carousel.min.css' %}" rel="stylesheet"> 
    <link href="{% static 'tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <!-- <link href="{% static 'css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"/>

    <!-- Template Stylesheet -->
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="{% static 'sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ' %}" crossorigin="anonymous">
     
</head>
<body>
    <div class="container-xxl position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
            <a href="" class="navbar-brand p-0">
                <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Restoran</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0 pe-4">
                    <a href="http://localhost:8000/foodforall/index/" class="nav-item nav-link active">Home</a>
                    <a href="http://localhost:8000/foodforall/about/" class="nav-item nav-link">About</a>
                    <a href="http://localhost:8000/foodforall/orders/" class="nav-item nav-link">Service</a>
                    <a href="http://localhost:8000/foodforall/menu/" class="nav-item nav-link">Menu</a>
                    <a href="http://localhost:8000/foodforall/review/" class="nav-item nav-link">Testimonials</a>
                    <a href="http://localhost:8000/foodforall/contact/" class="nav-item nav-link">Contact</a>
                </div>
                <a href="http://localhost:8000/foodforall/booking/" class="btn btn-primary py-2 px-4">Book A Table</a>
            </div>
        </nav>


        <div class="container-xxl py-5 bg-dark hero-header mb-5">
            <div class="container text-center my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">{{prod.pro_name}}</h1>
               
            </div>
        </div>
    </div>

    <img style="border-radius: 10px; height: 25em; width: 20em; margin-left: 35em; border: 2px solid black;" src="../../{{prod.pict}}" alt="">
    <h1 style="margin-left: 13.5em;">{{prod.pro_name}}</h1>
    <h2 style="margin-left: 20em;">{{prod.pro_reviews}}</h2>
    <h4  style="margin-left: 28em;">${{prod.pro_price}}</h4>
    <p style="width: 40%;margin-left: 28em;">{{prod.pro_desc}}</p>
   <a style="margin-left: 37em;" class="btn btn-primary py-3 px-5 mt-2" href="http://localhost:8000/foodforall/orders/">ORDER NOW</a>
 <!-- Footer Start -->
 <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Company</h4>
                <a class="btn btn-link" href="http://localhost:8000/foodforall/about/">About Us</a>
                <a class="btn btn-link" href="http://localhost:8000/foodforall/contact/">Contact Us</a>
                <a class="btn btn-link" href="http://localhost:8000/foodforall/booking/">Reservation</a>
                <a class="btn btn-link" href="">Privacy Policy</a>
                <a class="btn btn-link" href="">Terms & Condition</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Contact</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>customercarerestoran@.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Opening</h4>
                <h5 class="text-light fw-normal">Monday - Saturday</h5>
                <p>09AM - 09PM</p>
                <h5 class="text-light fw-normal">Sunday</h5>
                <p>10AM - 08PM</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="section-title ff-secondary text-start text-primary fw-normal mb-4">Newsletter</h4>
                <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-primary w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- Footer End -->
</body>
</html>